@import url("../../templates/font.module.css");

.title {
  margin: 0;
  padding: 0;
  margin-inline: 4rem;
  margin-block: 1.2rem;

  font-family: 'Jacques Francois', sans-serif;
  font-size: clamp(3rem, 10.4vw, 4rem);
  font-weight: 500;
}

.cart {
  padding: 0.5rem;
  max-width: 800px;
  margin-inline: auto;
}

/* Large devices (laptops/desktops, 992px and up) */
@media not screen and (min-width: 992px) {
  .title {
    margin-inline: auto;
  }
}