@import url("../../templates/font.module.css");

body:has(dialog[open]) {
  overflow: hidden;
}

.title {
  font-family: 'Jacques Francois', sans-serif;
  margin: 0;
  padding: 0;
  margin-inline: 4rem;
  margin-block: 1.2rem;
  
  font-size: clamp(3rem, 10.4vw, 4rem);
  font-weight: 500;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  box-sizing: border-box;
  margin-inline: 4rem;
  margin-block: 1.2rem;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Large devices (laptops/desktops, 992px and up) */
@media not screen and (min-width: 992px) {
  .title {
    margin-inline: auto;
  }

}
