@import url("../templates/font.module.css");

.header {
  display: flex;
  justify-content: space-between;
  margin: 32px;
  margin-bottom: 20px;
  gap: 64px;
}

.logo {
  font-family: 'Italiana', sans-serif;
  font-size: 64px;
  text-decoration: none;
  color: #000000;

  &.large {
    font-size: 148px;
  }
}
.hero {

  display: flex;
  align-items: center;
  gap: 20px;
  width: fit-content;
  margin: auto;

  & .container {
    width: fit-content;
    margin-left: 64px;
  }

  & .button-menu {
    margin-top: 32px;
    display: flex;
    justify-content: right;
  }

  & .image {
    width: 620px;
    z-index: -1;
  }
}